body{
    font-family: 'Poppins', sans-serif;;
}

body h1{
    font-weight: bolder;
    font-size: 2.5em;
    padding: 0 0 4px 0;
}

body p{
    font-size: 1em;
}

.white-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 10px 0 10px;
    margin: 0;
}


.black-background{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #112233;
    color: #E2E4E5;
    padding: 0 10px 0 10px;
    margin: 0;   
}

.introduce h1{
    margin: -10px 0 0 0;
    font-weight: bolder;
}

#introduce-paragraph{
    font-size: 1.25em;
}

/*.about-me img{
    height: 280px;
    width: 280px;
}*/

.about-me p{
    margin: 0 0vh 0 0vh;
}

.experiences h1{
    font-weight: bolder;
}

.experiences h2{
    font-weight: bold;
    font-size: 1.375em;
}

.experiences p{
    color: #373232;
}

.contact h1{
    text-align: center;
}

.spacing{
    margin: 30px;
}

.spacing-top-bottom{
    margin: 40px 0px;
}

.color-nav{
    background-color: #FFFFFF;
}

.small-font{
    font-size: 0.875em;
    font-weight: bold;
}

.photo img{
    max-width: 300px;
}

@media only screen and (max-width: 640px){
    body h1{
        font-size: 2em;
        padding: 0 0 4px 0;
    }
    
    body p{
        font-size: 0.8em;
    }

    #introduce-paragraph{
        font-size: 1em;
    }

    .experiences h1{
        font-weight: bolder;
    }
    
    .experiences h2{
        font-weight: bold;
        font-size: 1.1em;
    }

    .resize{
        max-width: 50%;
    }


}